<div class="customed_quote" >
<section class="" style="box-sizing: border-box; border: 0px none initial;">
<section style="padding: 15px; box-sizing: border-box;">
<section style="margin-bottom: -1.2em; margin-left: -1.4em;">
<section style="width: 5em; height: 18px; background: rgba(230,230,230,0.4); transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg);" data-bgless="spin" data-bglessp="280" data-bgopacity="60%"></section>
</section>
<section style="background: #f8f4ea; padding: 1em; box-sizing: border-box;">
<section style="border-radius: 10px; padding: 6px 1em 1em; background: url('https://pri2.oss-cn-hangzhou.aliyuncs.com/2018-09-04-233218.jpg') 0px 100% / 100% repeat-y; box-sizing: border-box; border: 1px solid #333333;">
{{- with .Get "bar" }}<section style="width: 100%;" data-width="100%"><img class="aligncenter" src="https://pri2.oss-cn-hangzhou.aliyuncs.com/2018-09-04-233421.jpg" alt="" /></section>{{- end -}}
<section class="" style="text-align: justify; line-height: 1.75em; letter-spacing: 1.5px; font-size: 14px; padding-top: 10px; color: #666666; box-sizing: border-box;" data-autoskip="1">
<p style="font-family: var(--serif-font);{{- with or ( .Get "s" ) ( .Get "size" ) -}}font-size: {{- . -}};{{- end -}};{{- with or ( .Get "align" ) ( .Get "ta" ) -}}text-align: {{- . -}}{{- end -}}; color: #595959;margin-right: 19px; margin-left: 19px; text-indent: 25px; line-height: 1.75em; margin-top: 5px; letter-spacing: 0.5px;">{{- .Inner -}}</p>
<p style="text-align:right;margin-right: 4em;font-size:12px">{{- with or ( .Get "by" ) ( .Get "from" ) -}}—{{- . -}}{{- end -}}</p>
</section>
</section>
</section>
<section style="text-align: right; margin-top: -2em;">
<section style="width: 5em; height: 18px; background: rgba(230,230,230,0.4); display: inline-block; margin-right: -1.3em; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg);" data-bgless="spin" data-bglessp="280" data-bgopacity="60%"></section>
</section>
</section>
</section>
</div>
