{{ partial "header.html" . }}

<div class="wrap bg-white">
  {{ partial "navbar.html" . }}
  <main class="hiruko-container">

    {{- if eq .Params.type "about" -}}
    {{ partial "about.html" . }}
    {{ else -}}
    {{ partial "post.html" . }}
    {{ end -}}

    {{ if eq .Params.toc true -}}
    {{ partial "toc.html" . }}
    {{ end -}}

     {{if eq .Params.aplayer true -}}
    {{ partial "aplayer.html" . }}
    {{ end -}}

    {{if eq .Params.abcjs true -}}
    {{ partial "abcjs.html" . }}
    {{ end -}}

    {{ if eq .Params.vertical true -}}
    {{ partial "footer.html" . }}
    {{ end -}}

  </main>
</div>

{{ if ne .Params.vertical true }}
  {{ partial "footer.html" . }}
{{ end }}
{{ partial "after-footer.html" . }}
