{{ if eq .Params.comments true }}
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';

  init({
    el: '#waline',
    serverURL: '{{ .Site.Params.waline.serverURL }}',
    placeholder:  '{{  .Site.Params.waline.placeholder }}',
    anonymous:  '{{  .Site.Params.waline.anonymous }}',
    search: false,
    comment: false, // 评论数统计
    reaction: false, // 关闭文章反应
    emoji: [
      '//unpkg.com/@waline/emojis@1.1.0/weibo',
    ],
  });
  </script>
{{ end }}