{{ if eq .Params.comments true }}
  <div id="waline"></div>
  <script type="module">
    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';

  init({
    el: '#waline',
    serverURL: '{{ .Site.Params.waline.serverURL }}',
    placeholder:  '{{  .Site.Params.waline.placeholder }}',
    anonymous:  '{{  .Site.Params.waline.anonymous }}',
    //comment: true, // 评论数统计
    //count: 10,// 用户排行榜
   // reaction: true, // 开启反应
    // 设置 emoji 为微博、哔站、推特
    emoji: [
      '//unpkg.com/@waline/emojis@1.1.0/weibo',
      '//unpkg.com/@waline/emojis@1.1.0/bilibili',
      '//unpkg.com/@waline/emojis@1.1.0/tw-emoji',
    ],
  });
  </script>
{{ end }}