{{- if eq .Params.vertical true }}

<i class="fa fa-calendar-plus-o"></i><span>&nbsp;{{ index $.Site.Data.chinese_date.year (printf "%d" .Date.Year) }}{{ index $.Site.Data.chinese_date.month (printf "%d" .Date.Month) }}{{ index $.Site.Data.chinese_date.day (printf "%d" .Date.Day) }}&emsp;</span>

{{ if .Site.Params.NightMode }}<i class="fa fa-toggle-off fa-rotate-90 fa-lg zoomlink" id="toggle" onclick="toggleTheme()" ></i>&nbsp;<span>夜读模式</span>{{ end }}

{{- else }}

<i class="fa fa-calendar-plus-o"></i><span>&nbsp;{{ .Date.Format "2006年1月2日" }}&nbsp;&nbsp;&nbsp;</span>
{{ if .Site.Params.readingtime }}
<i class="fa fa-file-word-o"></i><span>&nbsp;约 {{ .WordCount }} 字&nbsp;&nbsp;&nbsp;</span><i class="fa fa-clock-o"></i><span>&nbsp;需时 {{ .ReadingTime }} 分钟&nbsp;&nbsp;&nbsp;</span>
{{ if .Site.Params.NightMode }}<i class="fa fa-toggle-off fa-lg zoomlink" id="toggle" onclick="toggleTheme()" ></i><span>夜读模式</span>{{ end }}{{ end }}

{{- end }}
