{{ partial "header" . }}
<div class="maincontainer panda-bg" align="center">
  <div class="row">
    <div class="col-md-12 clearfix">
      <img src="/img/panda_404.png" alt="" class="img-responsive panda-image">
      <h2 class="panda-title text-center">Ooooops, The very essence of romance is uncertainty</h2>
      <p class="panda-message text-center">Looks like angry panda has eaten the page you are looking for</p>
        <h1 style="text-align: center">
            <a href="{{ "/" | relURL }}">-->> May surprise you here <<--</a>
        </h1>
    </div>
    </div>
  </div>
</div>
{{ partial "footer" . }}
